// order banner
.orders-banner{
    width: 100%;
    position: relative;
    background-image: url("/assets/images/orders/orders-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1000%;
    background-position: right 47% bottom 50%;
    border-radius: 12px;
}

.orders-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  z-index: 1;
  pointer-events: none;
}

@media (min-width:768px) {
    .orders-banner{
        position: relative;
        background-image: url("/assets/images/orders/orders-banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 141%;
        background-position: left 100% bottom 42%;
        border-radius: 12px;
    }
}



.orders-banner-content{
    position: relative;
    z-index: 2;
}

// order banner btn
.btn-other-recipe{
    width: 144px;
    border-radius: 12px;
}


// progress bar
.progress-bar {
  width: 100%;
  height: 8px;
  background-color: rgba(207, 214, 220, 1);
  border-radius: 5px;
}

.progress-fill {
  width: 70px;
  height: 100%;
  background-color: $primary;
}

// 訂單資訊
.user-order-infor{
    padding: 20px 16px;
    border-radius: 12px;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05)
}

// 商品總覽
.pack-title{
    margin-bottom: 20px;

    img {
        max-width: 30px;
        max-height: 30px;
    }
}

.order-list-item{
    width: 100%;
    display: flex;
    align-items: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 0;
}

@media (min-width:768px) {
    .order-list-item{
        width: 840px;
    }
}

.order-list-item-name-title{
    padding: 8px;
    text-align: center;
    p{
        width: 75px;
        margin: 0;
    }
}

@media (min-width:768px) {
    .order-list-item-name-title{
        p{
            width: 278px;
        }
    }
}


.order-list-item-cost-title{
    width: 64px;
    text-align: center;
    padding: 8px;
    margin-left: 6px;

    p{
        width: 100%;
        margin-bottom: 0;
    }
}

@media (min-width:768px) {
    .order-list-item-cost-title{
        width: 70px;
        margin-left: 24px;
    }
}


.order-list-item-content{
    width: 351px;
    padding: 8px 12px;
}

@media (min-width:768px) {
    .order-list-item-content{
        width: 840px;
    }
}


.order-list-item-content-openlist{
    width: 351px;
    padding: 8px 12px;
}

@media (min-width:768px) {
    .order-list-item-content-openlist{
        width: 840px;
    }
}



// 圓角轉換
.trans-radious {
    border: 1px solid #E5E5E5;
    border-top: none;
    border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;
}

.trans-radious .collapse.show {
    border-bottom-left-radius: 0;border-bottom-right-radius: 0;
}

.order-list-item-content-small{
    width: 351px;
    padding: 8px 12px;
    border:none;
}

@media (min-width:768px) {
    .order-list-item-content-small{
        width: 840px;
    }
}

.order-items-name{
    padding: 8px 5.5px;
    
    img{
        display: none;
    }
}

@media (min-width:768px) {
    .order-items-name{
    padding: 8px;

    img{
        display: block;
        margin-right: 12px;
        width: 80px;
        height: 80px;
        }
    }
}

.order-items-name-small{
    padding: 8px;

    img{
        display: none;
    }
}

@media (min-width:768px) {
    .order-items-name-small{
    padding: 8px;

    img{
        display: block;
        width: 48px;
        height: 48px;
        }
    }
}



.order-items-name-text{
    width: 80px;
}

@media (min-width:768px) {
    .order-items-name-text{
        width: 186px;
    }
}


.order-items-name-text-small{
    width: 75px;
}

@media (min-width:768px) {
    .order-items-name-text-small{
        width: 218px;
    }
}

.order-items-cost-item{
    width: 100%;
    display: flex;
}

.order-items-cost{
    width: 64px;
    text-align: center;
    padding: 8px;
    margin-left: 6px;

    p{
        width: 100%;
        margin-bottom: 0;
    }
}


@media (min-width:768px) {
    .order-items-cost{
        width: 70px;
        margin-left: 24px;
    }
}


.order-items-unfolded{
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0px;

    p{
        display: none;
    }
}

@media (min-width:768px) {
    .order-items-unfolded{
        padding: 8px 44px;

        p{
        display: block;
        }
    }
}


.folded-arrow{
    width: 10px;
    height: 5px;
    margin: 7.5px 5px;
}

.unfolded-arrow{
    width: 10px;
    height: 5px;
    margin: 7.5px 5px;
}


.order-list-collapse-wrapper-title{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width:768px) {
    .order-list-collapse-wrapper-title{
        width: 840px;
    }
}


.order-items-freezing-unfolded-title{
    margin: 8px 0px;
}

.order-items-refrigeration-unfolded-title{
    margin: 6px 0px;
}


// 總額
.order-list-total-pay{
    max-width: 100%;
    border-top: 1px solid #E5E5E5;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

@media (min-width:768px) {
    .order-list-total-pay{
        width: 856px;
        border-top: 1px solid #E5E5E5;
        padding: 12px 0;
        display: flex;
        justify-content: end;
    }
}

.order-list-total-item{
    width: 100%;
    padding: 8px;
    text-align: left;
}

@media (min-width:768px) {
    .order-list-total-item{
        width: 526px;
        text-align: right;
    }
}

.order-list-total-item-num{
    width: 100%;
    padding: 8px;
    text-align: right;
}

@media (min-width:768px) {
    .order-list-total-item-num{
        width: 306px;
    }
}


// 客製文字、排版
.orders-container{
    padding-left: 12px;
    padding-right: 12px;
}

.text-disable{
    color: rgba(117, 117, 117, 0.3);
}

.order-mb-md-32{
    margin-bottom: 64px;
}

.order-pt-md-16{
    padding-top: 32px;
}

.order-pb-md-16{
    padding-bottom: 32px;
}

.order-ps-3{
    padding-left: 3px;
}

.order-pe-3{
    padding-right: 3px;
}

.order-ps-11{
    padding-left: 11px;
}

.order-pe-11{
    padding-right: 11px;
}

// 文字截斷
.order-limit-length{
    @include text-multiline-truncate(
        $font-size: 16px,
        $line-height: 1.2,
        $max-line-Number:1
    );
}