<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>購物車</title>
  </head>
  <body>
    <!-- header -->
    <%- include("./layout/header"); -%>

<div class="container heading_top_offset mb-14 mb-md-22">
<div class="row g-0">

 

 <!-- 麵包屑 -->
   <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
    <li class="breadcrumb-item"><a href="index.html">探索料理</a></li>
    <li class="breadcrumb-item text-primary active" aria-current="page">購物車</li>
  </ol>
</nav>

        <h2 class="h-md-2 text-center mb-8 mb-md-30">購物車</h2>

<div class="col-12 mb-30">
<!--一鍵打包區-->
<div class="d-flex mb-md-10 mt-md-30">
    <span class="me-md-4">
      <img src="/assets/images/Shopping cart/harvest 1.png" alt="一鍵打包" />
    </span>
    <h4 class="h4  me-4">一鍵打包</h4>
</div>
<!-- 卡片 番茄炒蛋 -->
<div class="row mb-md-10 ">
 <div class="col-lg-12 col-12">
<!-- 頭欄 -->
   <div class="d-flex CartCard-head  ">
    <div class="col-lg-4 h-md-6 Body2 text-center col-12">名稱</div>
      <div class="col-lg-2 h6 text-center d-none d-md-block">單價</div>
      <div class="col-lg-2 h6 text-center d-none d-md-block">數量</div>
      <div class="col-lg-2 h6 text-start ms-md-16 d-none d-md-block">小計</div>
  </div>
  
  <div class="accordion acCard-border  px-md-0 px-md-6 " id="Tomato">
  <div class="accordion-item">
  <!-- 品項列 -->
  
   <div class="d-flex  align-items-center">
            <div class="col-lg-1 col-3 d-flex align-items-center justify-content-center ">
          <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="col-lg-3 col-9 d-flex align-items-center">
              <img src="/assets/images/Shopping cart/番茄炒蛋.png" class="me-md-6" alt="蕃茄炒蛋" width="80" height="80">
              <div. class="">
                <h5 class="h5 text-primary mb-md-6">蕃茄炒蛋 </h5>
                <div class="text-text-grey">兩人份</div>
              </div>
             <div class="col-lg-2 d-flex justify-content-center align-items-center">
              59元
             </div>
             
  <!-- 數量（± 按鈕） -->
  
      <div class="col-lg-2 text-center">
          <div class="d-flex align-items-center text-center">
        <div class="input-group input-group-sm mx-auto" >
          <button class="btn  qty-minus text-text-grey " type="button">−</button>
          <input type="number" class=" text-center qty" value="2" min="1" step="1">
          <button class="btn text-text-grey qty-plus" type="button">+</button>
        </div>
      </div>
    </div>

    <div class="col-lg-2 d-flex justify-content-center align-items-center">
              118元
             </div>
             <div class=" d-flex col-lg-2 justify-content-center align-items-center">
      <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTomato" aria-expanded="true" aria-controls="collapseTomato">
         <p class="Body2 text-text-grey mb-md-0">展開食材</p></button>    
  </div>
  </div>
 <div id="collapseTomato" class="accordion-collapse collapse show" data-bs-parent="#Tomato">
      </div>
    </div>

  </div>
         
 </div> 
 
</div>
<!--卡片 烤雞腿 -->
<div class="row mb-md-24 ">

 <div class="col-lg-12 col-12">
  <!-- 頭欄 -->
   <div class="d-flex CartCard-head ">
    <div class="col-lg-4 h-md-6 text-center col-12 Body2">名稱</div>
      <div class="col-lg-2 h6 text-center d-none d-md-block">單價</div>
      <div class="col-lg-2 h6 text-center d-none d-md-block">數量</div>
      <div class="col-lg-2 h6 text-start ms-md-16 d-none d-md-block">小計</div>
  </div>
<!-- 卡片標題按鈕處 --> 
<div class="accordion acCard-border" id="accordionExample">
  <div class="accordion-item">
<!-- 品項列 -->
   <div class="col-lg-12 my-md-4 col-12">
   <div class="d-flex  align-items-center">
            <div class="col-lg-1 d-flex align-items-center justify-content-center">
          <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
              <img src="/assets/images/products page/Image.png" class="me-md-6 d-flex align-items-start" alt="檸香烤雞腿" width="80" height="80">
              <div. class="">
                <h5 class="h5 text-primary mb-md-6"> 檸香烘烤雞腿</h5>
                <div class="text-text-grey">兩人份</div>
              </div>
             <div class="col-lg-2 d-flex justify-content-center align-items-center">
              230元
             </div>  
  <!-- 數量（± 按鈕） -->
      <div class="col-lg-2 text-center">
          <div class="d-flex align-items-center text-center">
        <div class="input-group input-group-sm mx-auto" >
          <button class="btn  qty-minus text-text-grey " type="button">−</button>
          <input type="number" class=" text-center qty" value="1" min="1" step="1">
          <button class="btn text-text-grey qty-plus" type="button">+</button>
        </div>
      </div>
    </div>

    <div class="col-lg-2 d-flex justify-content-center align-items-center">
              230元
             </div>

  <!--烤雞腿卡片按鈕 -->
      <button class="accordion-button my-md-4 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h2 class="Body2 text-text-grey mb-md-0">展開食材</h2>
      </button>
    </div>
   </div>

     <!-- 卡片內容 -->
  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
    <div class="accordion-body py-md-0 px-md-0">
        <!-- 冷凍配送的部分 -->
         <div class="accordion " id="deliverySection">
  <div class="accordion-item">
 
      <div class="d-flex justify-content-center align-items-center mb-6">
        
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-deliverySection" aria-expanded="true" aria-controls="panelsStayOpen-deliverySection">
         <h5 class="Body2  mb-3">冷凍配送</h5>
        </button>

      </div>
    
    <div id="panelsStayOpen-deliverySection" class="accordion-collapse collapse show">
      <div class="accordion-body py-md-0 px-md-0 my-md-6 ">
        <!-- 品項列 -->
    
    <div class="d-flex  align-items-center">
            <div class="col-lg-1 d-flex align-items-center justify-content-center">
          <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
              <img src="/assets/images/Shopping cart/Gemini_Generated_Image_lgskowlgskowlgsk.png" class="me-md-6" alt="雞腿" width="48" height="48">
              <div. class="">
                <h5 class="h5">雞腿 </h5>
                <p class="text-text-grey mb-md-0">兩入</p>
              </div>
             <div class="col-lg-2 d-flex justify-content-center align-items-center">
              120元
             </div>
             
    <!-- 數量（± 按鈕） -->
      <div class="col-lg-2 text-center">
          <div class="d-flex align-items-center text-center">
        <div class="input-group input-group-sm mx-auto" >
          <button class="btn  qty-minus text-text-grey " type="button">−</button>
          <input type="number" class=" text-center qty" value="1" min="1" step="1">
          <button class="btn text-text-grey qty-plus" type="button">+</button>
        </div>
      </div>
    </div>
    
    <div class="col-lg-2 d-flex justify-content-center align-items-center">
              120元
    </div>
    </div>

   </div>
   </div>
  </div>
  </div>

  <!-- 冷藏配送 -->
  <div class="accordion " id="deliverySection">
  <div class="accordion-item">
 
      <div class="d-flex justify-content-center align-items-center mb-6">
        
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-deliverySectionTwo" aria-expanded="true" aria-controls="panelsStayOpen-deliverySectionTwo">
         <h5 class="Body2  mb-3">冷藏／常溫配送</h5>
        </button>

      </div>
    
    <div id="panelsStayOpen-deliverySectionTwo" class="accordion-collapse collapse show">
      <div class="accordion-body py-md-0 px-md-0 my-md-6 ">
        <!-- 品項列 檸檬 -->
       <div class="d-flex  align-items-center py-md-6">
            <div class="col-lg-1 d-flex align-items-center justify-content-center">
          <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
              <img src="/assets/images/Shopping cart/cristina-anne-costello-4jsmBl30x_A-unsplash.png" class="me-md-6" alt="檸檬" width="48" height="48">
              <div. class="">
                <h5 class="h5">檸檬 </h5>
                <p class="text-text-grey mb-md-0">兩顆</p>
              </div>
             <div class="col-lg-2 d-flex justify-content-center align-items-center">
              40元
             </div>     
        <!-- 數量（± 按鈕） -->
        <div class="col-lg-2 text-center my-md-6">
          <div class="d-flex align-items-center text-center">
        <div class="input-group input-group-sm mx-auto" >
          <button class="btn  qty-minus text-text-grey " type="button">−</button>
          <input type="number" class=" text-center qty" value="1" min="1" step="1">
          <button class="btn text-text-grey qty-plus" type="button">+</button>
        </div>
      </div>
       </div>
      <div class="col-lg-2 d-flex justify-content-center align-items-center">
              40元
        </div>
    </div>
 <!-- 品項列 迷迭香 -->
      <div class="d-flex  align-items-center py-md-6">
            <div class="col-lg-1 d-flex align-items-center justify-content-center">
          <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
              <img src="/assets/images/Shopping cart/Gemini_Generated_Image_cepuujcepuujcepu.png" class="me-md-6" alt="迷迭香" width="48" height="48">
              <div. class="">
                <h5 class="h5">新鮮迷迭香 </h5>
                <p class="text-text-grey mb-md-0">約20g</p>
              </div>
             <div class="col-lg-2 d-flex justify-content-center align-items-center">
              50元
             </div>     
        <!-- 數量（± 按鈕） -->
        <div class="col-lg-2 text-center">
          <div class="d-flex align-items-center text-center">
        <div class="input-group input-group-sm mx-auto" >
          <button class="btn  qty-minus text-text-grey " type="button">−</button>
          <input type="number" class=" text-center qty" value="1" min="1" step="1">
          <button class="btn text-text-grey qty-plus" type="button">+</button>
        </div>
      </div>
       </div>
      <div class="col-lg-2 d-flex justify-content-center align-items-center">
              50元
        </div>
    </div>
 <!-- 品項列 蒜仁 -->
     <div class="d-flex  align-items-center py-md-6">
            <div class="col-lg-1 d-flex align-items-center justify-content-center">
          <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
              <img src="/assets/images/Shopping cart/蒜仁.png" class="me-md-6" alt="新鮮蒜仁" width="48" height="48">
              <div. class="">
                <h5 class="h5">新鮮蒜仁 </h5>
                <p class="text-text-grey mb-md-0">5g</p>
              </div>
             <div class="col-lg-2 d-flex justify-content-center align-items-center">
              10元
             </div>     
        <!-- 數量（± 按鈕） -->
        <div class="col-lg-2 text-center">
          <div class="d-flex align-items-center text-center">
        <div class="input-group input-group-sm mx-auto" >
          <button class="btn  qty-minus text-text-grey " type="button">−</button>
          <input type="number" class=" text-center qty" value="1" min="1" step="1">
          <button class="btn text-text-grey qty-plus" type="button">+</button>
        </div>
      </div>
       </div>
      <div class="col-lg-2 d-flex justify-content-center align-items-center">
              10元
        </div>
    </div>
 <!-- 品項列 海鹽 -->
     <div class="d-flex  align-items-center py-md-6">
            <div class="col-lg-1 d-flex align-items-center justify-content-center">
          <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
              <img src="/assets/images/Shopping cart/海鹽.png" class="me-md-6" alt="海鹽" width="48" height="48">
              <div. class="">
                <h5 class="h5">海鹽 </h5>
                <p class="text-text-grey mb-md-0">5g（非整罐商品）</p>
              </div>
             <div class="col-lg-2 d-flex justify-content-center align-items-center">
              5元
             </div>     
        <!-- 數量（± 按鈕） -->
        <div class="col-lg-2 text-center">
          <div class="d-flex align-items-center text-center">
        <div class="input-group input-group-sm mx-auto" >
          <button class="btn  qty-minus text-text-grey " type="button">−</button>
          <input type="number" class=" text-center qty" value="1" min="1" step="1">
          <button class="btn text-text-grey qty-plus" type="button">+</button>
        </div>
      </div>
       </div>
      <div class="col-lg-2 d-flex justify-content-center align-items-center">
              5元
        </div>
    </div>
 <!-- 品項列 黑胡椒 -->
     <div class="d-flex  align-items-center my-md-6">
            <div class="col-lg-1 d-flex align-items-center justify-content-center">
          <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
              <img src="/assets/images/Shopping cart/Gemini_Generated_Image_wmjbyewmjbyewmjb.png" class="me-md-6" alt="黑胡椒" width="48" height="48">
              <div. class="">
                <h5 class="h5">黑胡椒 </h5>
                <p class="text-text-grey mb-md-0">5g（非整罐商品）</p>
              </div>
             <div class="col-lg-2 d-flex justify-content-center align-items-center">
              5元
             </div>     
        <!-- 數量（± 按鈕） -->
        <div class="col-lg-2 text-center">
          <div class="d-flex align-items-center text-center">
        <div class="input-group input-group-sm mx-auto" >
          <button class="btn  qty-minus text-text-grey " type="button">−</button>
          <input type="number" class=" text-center qty" value="1" min="1" step="1">
          <button class="btn text-text-grey qty-plus" type="button">+</button>
        </div>
      </div>
       </div>
      <div class="col-lg-2 d-flex justify-content-center align-items-center">
              5元
        </div>
    </div>

   </div>
   </div>
  </div>
  </div>
  <!-- 烤雞卡片內容分隔線 -->
</div>
</div>

 </div>
</div>

</div>
</div>
<!--單獨選購區 -->
<div class="d-flex mb-md-10 mt-md-30">
    <span class="me-md-4">
      <img src="/assets/images/Shopping cart/harvest 2.png" alt="單獨選購" />
    </span>
    <h4 class="h4  me-4">單獨選購</h4>
</div>
<!-- 卡片 單獨選購 -->
 <div class="row  mb-md-30 ">

 <div class="col-lg-12 col-12">
  <!-- 頭欄 -->
   <div class="d-flex CartCard-head ">
    <div class="col-lg-4 h-md-6 Body2 text-center col-12">名稱</div>
      <div class="col-lg-2 h6 text-center d-none d-md-block">單價</div>
      <div class="col-lg-2 h6 text-center d-none d-md-block">數量</div>
      <div class="col-lg-2 h6 text-start ms-md-16 d-none d-md-block">小計</div>
  </div>
     <!-- 卡片內容 -->
  
  <!-- 冷藏配送 -->
  <div class="accordion acCard-border " id="deliverySection">
  <div class="accordion-item">
 
      <div class="d-flex justify-content-center align-items-center mb-6">
        
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-deliverySectionThree" aria-expanded="true" aria-controls="panelsStayOpen-deliverySectionThree">
         <h5 class="Body2  mb-3">冷藏／常溫配送</h5>
        </button>

      </div>
    
    <div id="panelsStayOpen-deliverySectionThree" class="accordion-collapse collapse show">
      <div class="accordion-body py-md-0 px-md-0 my-md-6 ">
        <!-- 品項列 韓式泡菜-原味 -->
       <div class="d-flex  align-items-center py-md-6">
            <div class="col-lg-1 d-flex align-items-center justify-content-center">
          <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
              <img src="/assets/images/Shopping cart/kimchi.png" class="me-md-6" alt="韓式泡菜-原味" width="48" height="48">
              <div. class="">
                <h5 class="h5">韓式泡菜-原味（小辣） </h5>
                <p class="text-text-grey mb-md-0">450g</p>
              </div>
             <div class="col-lg-2 d-flex justify-content-center align-items-center">
              260元
             </div>     
        <!-- 數量（± 按鈕） -->
        <div class="col-lg-2 text-center my-md-6">
          <div class="d-flex align-items-center text-center">
        <div class="input-group input-group-sm mx-auto" >
          <button class="btn  qty-minus text-text-grey " type="button">−</button>
          <input type="number" class=" text-center qty" value="1" min="1" step="1">
          <button class="btn text-text-grey qty-plus" type="button">+</button>
        </div>
      </div>
       </div>
      <div class="col-lg-2 d-flex justify-content-center align-items-center">
              260元
        </div>
    </div>
 <!-- 品項列 海鹽 -->
     <div class="d-flex  align-items-center py-md-6">
            <div class="col-lg-1 d-flex align-items-center justify-content-center">
          <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
              <img src="/assets/images/Shopping cart/海鹽.png" class="me-md-6" alt="海鹽" width="48" height="48">
              <div. class="">
                <h5 class="h5">海鹽 </h5>
                <p class="text-text-grey mb-md-0">300g</p>
              </div>
             <div class="col-lg-2 d-flex justify-content-center align-items-center">
              125元
             </div>     
        <!-- 數量（± 按鈕） -->
        <div class="col-lg-2 text-center">
          <div class="d-flex align-items-center text-center">
        <div class="input-group input-group-sm mx-auto" >
          <button class="btn  qty-minus text-text-grey " type="button">−</button>
          <input type="number" class=" text-center qty" value="1" min="1" step="1">
          <button class="btn text-text-grey qty-plus" type="button">+</button>
        </div>
      </div>
       </div>
      <div class="col-lg-2 d-flex justify-content-center align-items-center">
              125元
        </div>
    </div>


   </div>
   </div>
  </div>
  </div>
  <!-- 卡片內容分隔線 -->
 </div>
 </div>
<!--下方卡片-->

<div class="row d-flex justify-content-between ">


<!--左下卡片-->

<div class="col-lg-8 mb-30">
<div class="BuyNote-card">

<div class="mb-md-10 mt-md-10">
<h5 class="h5  mb-md-6 mt-md-4">配送​時效</h5>
<ul class="list-unstyled ">
  <li class="px-md-12 Body2 mb-md-2">下單後​ 3-5 個​工作​天​送達。​</li>
  <li class="px-md-12 Body2">如​遇假日​或​特殊​節慶，​配送​時效​可能​延長。​</li>
</ul>
</div>
<div class="mb-md-10">
<h5 class="h5  mb-md-6 mt-md-4">​保存​方式​</h5>
<ul class="list-unstyled ">
  <li class="px-md-12 Body2 mb-md-2">冷藏​商品​請於​收到​後 立即冷藏 0–7°​C ​保存。​​​</li>
  <li class="px-md-12 Body2">冷​凍​商品​請於​收到​後 立即冷凍 ​-18°C ​以​下 ​保存。​​</li>
</ul>
</div>
<div class="mb-md-10">
<h5 class="h5  mb-md-6 mt-md-4">同​日​送​達</h5>
<ul class="list-unstyled ">
  <li class="px-md-12 Body2 mb-md-2">若訂單內含冷藏與​冷凍​商品，​系統​會​自動​分為​不同​溫層​包裹。​​</li>
  <li class="px-md-12 Body2">我​們會​安排於同​一​天​送達，​但​包裹​可能​由​不同​配送員同時​或​前後​抵達。​​</li>
</ul>
</div>
<div class="mb-md-10">
<h5 class="h5  mb-md-6 mt-md-4">免運條件</h5>
<ul class="list-unstyled ">
  <li class="px-md-12 Body2 mb-md-2">會員​全​館​消費​滿1​,​200​元​即​可​免運。​</li>
  <li class="px-md-12 Body2">未​達免​運門檻，​將​依各​溫層​收取​運費。​</li>
</ul>
</div>
<div class="mb-md-10">
<h5 class="h5  mb-md-6 mt-md-4">​注意​事項​</h5>
<ul class="list-unstyled ">
  <li class="px-md-12 Body2 mb-md-2">為確​保食​材​新鮮，​若當日​未​能​成功​收貨，​物流​可能​會延​遲​至​隔日​再​送。​​​</li>
  <li class="px-md-12 Body2">一​鍵​打包​之​調​味品​皆為​小​包裝、​依食譜​所​需份量，​非整罐​銷售。​​​</li>
</ul>
</div>

</div>
  
</div>

<!--右下卡片-->

  <div class="col-lg-4">
  <div class="OrderSummary-card">

    <h5 class="h5 text-primary py-md-10 px-md-12">費用計算</h5>
    <div class="d-flex justify-content-between align-items-center  px-md-12 border-bottom py-md-10">
      <div class="Body2">商品小計</div>
      <div class="Body2">733元</div>
      </div>
      <div class="d-flex justify-content-between align-items-center  px-md-12 border-bottom py-md-10">
      <div class="Body2">運費</div>
      <div class="Body2">200元</div>
    </div>
    <div class="d-flex justify-content-between align-items-center  px-md-12  py-md-10">
      <div class="h5">總額</div>
      <div class="h5">1053元</div>
    </div>
<div class="d-flex justify-content-end align-items-center  px-md-12  py-md-10">
  <a href="https://iris175.github.io/CookingMoment/billing.html" class="text-reset text-decoration-none link-underline-none"> 
  <button class="btn btn-small shadow" type="button">
        前往結帳</button>
        </a>
</div>

  </div>
  </div>


</div>
<!-- 主要內容col-12的div -->
</div>
<!-- 外層容器的div -->
</div>
</div>



      <!-- footer -->
      <%- include("./layout/footer"); -%>
    <script type="module" src="../main.js"></script>
    <script type="module" src="/assets/js/tools.js"></script>
    <script type="module" src="/assets/js/index.js"></script>
  </body>
</html>